.cards {
  width: 100%;
 
  align-items: center;
  justify-content: space-between;
}
article {
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}
.title-artist {
  display: flex;
  justify-content: space-evenly;
}
li{
    border: 2px solid black;

}
